openapi: 3.0.3
info:
  title: GAME BOARD SYSTEM
  description: API documentation
  version: 1.0.0

servers:
  - url: http://localhost:8080
    description: Local development

paths:
  /api/auth/login:
    post:
      tags:
        - Auth
      summary: Login
      description: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BackendResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/AuthResponse"

        "401":
          description: Invalid credentials

  /api/auth/register:
    post:
      tags:
        - Auth
      summary: Register
      description: User registration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Register success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BackendResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/User"

        "400":
          description: Validation error

components:
  schemas:
    BackendResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        status:
          type: number
          example: 200
        message:
          type: string
          example: Call api successfully
        data:
          nullable: true
          description: Dynamic response data

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          example: admin1@gmail.com
        password:
          type: string
          example: 123456@

    RegisterRequest:
      type: object
      required:
        - email
        - password
        - username
      properties:
        email:
          type: string
          example: user@gmail.com
        password:
          type: string
          example: 123456
        username:
          type: string
          example: Nguyen Van A

    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImI3ZTQzNDJiLWFhNjUtNDk4ZS1iMGM1LTcyNGM1M2U4MDJmMCIsImVtYWlsIjoiYWRtaW4xQGdtYWlsLmNvbSIsImlhdCI6MTc2NjU3Mjg5MiwiZXhwIjoxNzY2NjU5MjkyfQ.S5IPdMKlmIgl5eRQyPchRaPT2Es9-fS8OhkBB7R5IjA
        refresh_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImI3ZTQzNDJiLWFhNjUtNDk4ZS1iMGM1LTcyNGM1M2U4MDJmMCIsImVtYWlsIjoiYWRtaW4xQGdtYWlsLmNvbSIsImlhdCI6MTc2NjU3Mjg5MiwiZXhwIjoxNzY2NjU5MjkyfQ.S5IPdMKlmIgl5eRQyPchRaPT2Es9-fS8OhkBB7R5IjA
        user:
          $ref: "#/components/schemas/User"

    User:
      type: object
      properties:
        id:
          type: string
          example: uuid
        email:
          type: string
          example: user@gmail.com
        avatar_url:
          type: string
          example: https://swagger.io/swagger/media/images/tools/opensource/swagger-ui.png
        status:
          type: string
          example: active
        username:
          type: string
          example: Nguyen Van A
        role_id:
          type: number
          example: 2
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
